html {
    background: url("../media/background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
    border:1px solid;
    display: block;
    margin: 50px auto;
}

img {
    margin-top: 50px;
}

/* Header Styling */
header {
    background: rgba(1, 1, 1, .5);
    color: White;
    font-weight: bold;
    padding: 1rem;
}

header h1 {
    font-size: 4rem;
}

header p {
    margin-top: 0;
    font-weight: normal;
}

.wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
}

h1 {
    text-align: center;
    color: White;
}

.info {
    text-align: center;
    color: white;
    font-size: 24px;
}

.button {
    padding: 1rem;
    font-size: 2rem;
    width: 10rem;
    background: black;
    color: white;
    font-weight: bolder;
    border-radius: 3rem;
    box-shadow: 1px 1px 10px black;
    display: block;
    margin: 50px auto;
}

.button:hover {
    background: DarkRed;
    cursor: pointer;
}

a {
    color: white;
}

/* Media screens larger than 900px*/
@media only screen and (min-width: 901px) {

    header {
        padding: 2rem;
    }

    header h1 {
        font-size: 4rem;
    }

    .container {
        margin: 0 3rem;
    }

    #tabs button {
        font-size: 2rem;
    }

    .tabContent {
        font-size: 1.5rem;
    }
}
